@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-base;
  }
  h4 {
    @apply text-sm;
  }
  h5 {
    @apply text-xs;
  }
  h6 {
    @apply text-xs;
  }
}

@layer components {
  [type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='darkblue' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='4'/%3e%3c/svg%3e");
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  /* rest css code also here */
  background-color: #f8f8f8;
}
h1, h2, h3, h4, h5 {
  font-family: 'Hahmlet', sans-serif;
}

.font-helmet {
  font-family: 'Hahmlet', sans-serif !important;  
}
.font-worksans {
  font-family: 'Work Sans', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.overlay__about {
  background-image:url('../../asset/images/socious_feed.png') bg-slate-900 bg-no-repeat bg-cover ;
}
