:root {
  --color-primary-01: rgba(47, 71, 134, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-gray-04: rgba(228, 230, 237, 1);
  --color-error-01: rgba(223, 48, 48, 1);

  --font-size-m: 1rem;
  --font-size-l: 1.5rem;
  --font-color-primary: #1f2128;
}
