.App {
  text-align: center;
}

.App-logo-wrapper {
  position: relative;
  width: 100%;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ui-component-img-uploader-edit {
  position: absolute;
  bottom: 60px;
  left: 35px;
  z-index: 1;
}

.ui-component-img-uploader-edit input {
  display: none;
}

.ui-component-img-uploader-preview {
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.ui-component-img-uploader-preview img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.codes div input::-webkit-outer-spin-button,
.codes div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.codes div input[type='number'] {
  -moz-appearance: textfield;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}


@media (max-width: 767px) {
  .mobile-menu {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99999999999;
    background: #F8F8F8;
    bottom: 0;
    padding: 32px 15px 0;
    overflow-y: auto;
  }
}
